<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
</head>
<body>
    
    <% include templates/header.ejs%>

       
    
    <div class="section-title about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>אודות המשרד
              <span>
                <a href="index.html">בית </a>
                / אודות המשרד
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="properties-subtitle">אודות</span><br>
                <h1 class="properties-title">קצת עלינו</h1>
                <div class="short-p"><br>
                תיווך נדל"ן אילת הינו משרד תיווך ותיק מאוד הפועל כ-30 שנה בתחום התיווך ושיווק פרויקטים בעיר אילת בבעלות דני הרוש.&nbsp;&nbsp;
                המשרד מייצג לקוחות רבים מאילת ומחוצה לה ואף בחו"ל.&nbsp;&nbsp;
                מטרת המשרד לספק מענה אופטימאלי לשיווק ותיווך נדל"ן באילת.&nbsp;&nbsp;
                במשרד מאגר עשיר ועדכני של נכסים בלעדיים ופרויקטים חדשים.&nbsp;&nbsp;
                  
                </div>
            </div>
            
            <div class="col-sm-12 hr-styled">
                <div class="diviser">
                    <div class="circle_right"></div>
                    <div class="circle_left"></div>
                </div>
            </div>
        </div>
    </div>
    
        
    <section id="content" class="shortcode-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <span class="properties-subtitle">תחומים</span><br>
                    <h1 class="properties-title">פעילויות המשרד</h1><br><br>
                    <div id="service">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-home"></i></a>
              </div>
              <div class="service-content">
                <h3>יד שנייה</h3>
                <p>
                    שיווק דירות יד שנייה למכירה ולהשכרה
                </p>
              </div>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-4 col-sm-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-thumbs-up"></i></a>
              </div>
              <div class="service-content">
                <h3>מגרשים</h3>
                <p>
                    מכירת מגרשים לבנייה רוויה
                </p>
              </div>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-4 col-sm-12">
            <div class="service-container">
              <div class="service-icon">
                <a href="#"><i class="fa fa-umbrella"></i></a>
              </div>
              <div class="service-content">
                <h3>פרויקטים</h3>
                <p>שיווק פרויקטים חדשים בבניה</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    
    
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 hr-styled">
                <div class="diviser">
                    <div class="circle_right"></div>
                    <div class="circle_left"></div>
                </div>
            </div>
            
            <div class="col-sm-12 properties-header">
                <span class="properties-subtitle">כוח</span><br>
                <h1 class="properties-title">סוכנים אמינים</h1><br><br>
                <div class="short-p">
                    במשרד מועסקים סוכנים חדורי מוטיבציה גבוהה, מקצועיות, מומחיות, יושר ואמינות .
                    עובדי המשרד שותפים לחזון המשרד ונאמנים למטרותיו ומעניקים שירות אישי מיידי ומקצועי ללקוחותיו הנאמנים וכן הכוונה ותיווך.
                </div>
            </div>
            
            
            

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a role="button" data-toggle="collapse" href="#daniCollapse" aria-expanded="false" aria-controls="daniCollapse">
                    <div class="item_team">
                        <div class="image_team">
                            <img src="images/team/1.jpg" alt="Image">
                        </div>
                        <div class="info_team">
                            <h4>דני הרוש<span>בעלים\מנהל</span></h4>         
                            <div class="collapse" id="daniCollapse" style="text-align:center;">
                                <p>
                                    יליד 1963, בעלים ומנהל את משרד תיווך נדל"ן אילת. החל את דרכו בתחום הנדל"ן לפני כ-30 שנה ועד היום.</br></br>
                                    רישיון תיווך במקרקעין מס ' – 001700.</br>
                                    טלפון נייד – 053-3339590.</br>
                                    דוא״ל : dani9443@gmail.com
                                </p>
                                
                                <ul class="social">
                                    <li data-toggle="tooltip" title="Facebook"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                        </a><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" title="" data-original-title="phone">
                                        <a href="tel://053-333-9590"><i class="fa fa-phone"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a role="button" data-toggle="collapse" href="#galitCollapse" aria-expanded="false" aria-controls="galitCollapse">
                    <div class="item_team">
                        <div class="image_team">
                            <img src="images/team/1.jpg" alt="Image">
                        </div>
                        <div class="info_team">
                            <h4>גלית הרוש<span>סוכנת</span></h4>         
                            <div class="collapse" id="galitCollapse" style="text-align:center;">
                                <p>
                                    ילידת 1972, עוסקת בשיווק פרויקטים חדשים בבנייה ובתחום התיווך יד 2 כ-10 שנים.</br></br>
                                    רישיון תיווך במקרקעין מס'- 30928798.</br>
                                    טלפון נייד : 053-4445345.</br>
                                    דוא"ל : gilesshar@gmail.com.
                                </p>
                                <ul class="social">
                                    <li data-toggle="tooltip" title="Facebook"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                        </a><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" title="" data-original-title="phone">
                                        <a href="tel://053-444-5345"><i class="fa fa-phone"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a role="button" data-toggle="collapse" href="#orliCollapse" aria-expanded="false" aria-controls="orliCollapse">
                    <div class="item_team">
                        <div class="image_team">
                            <img src="images/team/1.jpg" alt="Image">
                        </div>
                        <div class="info_team">
                            <h4>אורלי מואס <span>סוכנת</span></h4>         
                            <div class="collapse" id="orliCollapse" style="text-align:center;">
                                <p>
                                    ילידת 1971, ניהלה בעבר צוות מכירות ברשת ישרוטל, החלה את דרכה בתחום הנדל"ן לפני כ-3 שנים.</br></br>
                                    רישיון תיווך במקרקעין מס ' – 31098334.</br>
                                    טלפון – 052-3266602</br>
                                    דוא"ל : orlimoas@gmail.com.

                                </p>
                                <ul class="social">
                                    <li data-toggle="tooltip" title="Facebook"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                        </a><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" title="" data-original-title="phone">
                                        <a href="tel://052-326-3302"><i class="fa fa-phone"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a role="button" data-toggle="collapse" href="#shlomiCollapse" aria-expanded="false" aria-controls="shlomiCollapse">
                    <div class="item_team">
                        <div class="image_team">
                            <img src="images/team/1.jpg" alt="Image">
                        </div>
                        <div class="info_team">
                            <h4>שלומי כהן<span>סוכן</span></h4>         
                            <div class="collapse" id="shlomiCollapse" style="text-align:center;">
                                <p>
                                    יליד 1975, עסק בשנים האחרונות באופן עצמאי בתחום הבנייה והשיפוצים. לפני כשנתיים נכנס לתחום הנדל"ן.</br>  </br>
                                    רישיון תיווך במקרקעין מס ' – 3142024.</br>
                                    טלפון נייד – 052-3021177.</br>
                                    דוא"ל : cohenshlomi100@gmail.com.
                                </p>
                                <ul class="social">
                                    <li data-toggle="tooltip" title="Facebook"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                        </a><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li data-toggle="tooltip" title="" data-original-title="phone">
                                        <a href="tel://052-302-1177"><i class="fa fa-phone"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

                
        </div>
    </div>
    
    <% include templates/adbanner.ejs%>

    <% include templates/recSlideshow.ejs%>

    <% include templates/footer.ejs%>
    
</body>
</html>
