<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
</head>
<body>
    
    <% include templates/header.ejs%>

       
    
    <div class="section-title about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>אודות המשרד
              <span>
                <a href="index.html">בית </a>
                / אודות המשרד
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="properties-subtitle">אודות</span><br>
                <h1 class="properties-title">קצת עלינו</h1>
                <div class="short-p"><br>
                תיווך נדל"ן אילת הינו משרד תיווך ותיק מאוד הפועל כ-30 שנה בתחום התיווך ושיווק פרויקטים בעיר אילת בבעלות דני הרוש.&nbsp;&nbsp;
                המשרד מייצג לקוחות רבים מאילת ומחוצה לה ואף בחו"ל.&nbsp;&nbsp;
                מטרת המשרד לספק מענה אופטימאלי לשיווק ותיווך נדל"ן באילת.&nbsp;&nbsp;
                במשרד מאגר עשיר ועדכני של נכסים בלעדיים ופרויקטים חדשים.&nbsp;&nbsp;
                  
                </div>
            </div>
            
            <div class="col-sm-12 hr-styled">
                <div class="diviser">
                    <div class="circle_right"></div>
                    <div class="circle_left"></div>
                </div>
            </div>
        </div>
    </div>
    
        
    <section id="content" class="shortcode-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <span class="properties-subtitle">תחומים</span><br>
                    <h1 class="properties-title">פעילויות המשרד</h1><br><br>
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">
                          
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  שיווק דירות יד 2 מכירה\השכרה
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  מכירת מגרשים לבנייה רוויה
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  שיווק פרויקטים חדשים בבנייה
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>
                          
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  נדל"ן עסקי
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                            </div>
                          </div>
                          
                        </div><!--/#accordion1-->
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 hr-styled">
                <div class="diviser">
                    <div class="circle_right"></div>
                    <div class="circle_left"></div>
                </div>
            </div>
            
            <div class="col-sm-12 properties-header">
                <span class="properties-subtitle">כוח</span><br>
                <h1 class="properties-title">סוכנים אמינים</h1><br><br>
                <div class="short-p">
                    במשרד מועסקים סוכנים חדורי מוטיבציה גבוהה, מקצועיות, מומחיות, יושר ואמינות .
                    עובדי המשרד שותפים לחזון המשרד ונאמנים למטרותיו ומעניקים שירות אישי מיידי ומקצועי ללקוחותיו הנאמנים וכן הכוונה ותיווך.
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <div class="item_team">
                    <div class="image_team">
                        <img src="images/team/1.jpg" alt="Image">
                    </div>
                    <div class="info_team">
                        <h4>דני הרוש<span>בעלים\מנהל</span></h4>                            
                        <ul class="social">
                            <li data-toggle="tooltip" title="Facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li data-toggle="tooltip" title="" data-original-title="Email">
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                    </div>
                </div></a>
                <div role="tabpanel" class="tab-pane fade" id="home">
                    יליד 1963, בעלים ומנהל את משרד תיווך נדל"ן אילת. החל את דרכו בתחום הנדל"ן לפני כ-30 שנה ועד היום.
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                <div class="item_team">
                    <div class="image_team">
                        <img src="images/team/1.jpg" alt="Image">
                    </div>
                    <div class="info_team">
                        <h4>גלית הרוש<span>סוכנת</span></h4>                            
                        <ul class="social">
                            <li data-toggle="tooltip" title="Facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li data-toggle="tooltip" title="" data-original-title="Email">
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                    </div>
                </div></a>
                <div role="tabpanel" class="tab-pane fade" id="profile">ילידת 1972, עוסקת בשיווק פרויקטים חדשים בבנייה ובתחום התיווך יד 2 כ-10 שנים.</div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                <div class="item_team">
                    <div class="image_team">
                        <img src="images/team/1.jpg" alt="Image">
                    </div>
                    <div class="info_team">
                        <h4>אורלי מואס<span>סוכנת</span></h4>                            
                        <ul class="social">
                            <li data-toggle="tooltip" title="Facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li data-toggle="tooltip" title="" data-original-title="Email">
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                    </div>
                </div></a>
                <div role="tabpanel" class="tab-pane fade" id="messages">ילידת 1971, ניהלה בעבר צוות מכירות ברשת ישרוטל, החלה את דרכה בתחום הנדל"ן לפני כ-3 שנים.</div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                <div class="item_team">
                    <div class="image_team">
                        <img src="images/team/1.jpg" alt="Image">
                    </div>
                    <div class="info_team">
                        <h4>שלומי כהן<span>סוכן</span></h4>                            
                        <ul class="social">
                            <li data-toggle="tooltip" title="Facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li data-toggle="tooltip" title="" data-original-title="Email">
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                    </div>
                </div></a>
                <div role="tabpanel" class="tab-pane fade" id="settings">יליד 1975, עסק בשנים האחרונות באופן עצמאי בתחום הבנייה והשיפוצים. לפני כשנתיים נכנס לתחום הנדל"ן.</div>
            </div>

                
        </div>
    </div>
    
        
    <% include templates/recSlideshow.ejs%>


    
    <% include templates/footer.ejs%>
    
</body>
</html>
