<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
    <style>
      .mar-top{
        margin-top:50px;
      }
    </style>
  </head>
  <body>

<% include templates/header.ejs%>

<% include templates/adminMenu.ejs%>

<section id="contact-page" class="mar-top">
        <div class="container">
            <div class="center">        
                <h2>הוספת בית</h2>
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="addhouseform">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>כתובת</label>
                            <input type="text" name="adress" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>מחיר</label>
                            <input type="email" name="price" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>מספר חדרים</label>
                            <input type="number" class="form-control" name="roomnum" required="required">
                        </div>
                        <div class="form-group">
                            <label>נוף</label>
                            <input type="text" name="view" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>הערות</label>
                            <textarea name="message" id="comments" class="form-control" rows="8" ></textarea>
                        </div>      
                        <div class="form-group">
                            <label>תת-הערות</label>
                            <textarea name="message" id="subcomments" class="form-control " rows="3"></textarea>
                        </div> 
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg">שלח הודעה</button>
                        </div>
                    </div>
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

    <% include templates/footer.ejs%>

  </body>
</html>
