<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
    <style>
      .mar-top{
        margin-top:50px;
      }
    </style>
  </head>
  <body>

<% include templates/header.ejs%>

<% include templates/adminMenu.ejs%>

<section id="contact-page" class="mar-top">
        <div class="container">
            <div class="center">        
                <h2>הוספת בית</h2>
            </div> 
            <div class="row contact-wrap"> 
                <form method="post" action="/manage/addhouseform">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label for="adress">כתובת</label>
                            <input type="text" name="adress" id="adress" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label for="price">מחיר</label>
                            <input type="number" name="price" id="price" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label for="roomnum">מספר חדרים</label>
                            <input type="number" class="form-control" name="roomnum" id="roomnum" required="required">
                        </div>
                        <div class="form-group">
                            <label for="size">גודל</label>
                            <input type="number" class="form-control" name="size" id="size" required="required">
                        </div>
                        <div class="form-group">
                            <label for="view">נוף</label>
                            <input type="text" name="view"  id="view" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label for="action">להשכרה? (ברירת מחדל היא מכירה)</label>
                            <input type="checkbox" name="action" id="action" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="IsRec">למומלצים?</label>
                            <input type="checkbox" name="IsRec" id="IsRec" class="form-control">
                        </div>
                        
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="message">הערות</label>
                            <textarea name="comments" id="comments" class="form-control" rows="8" ></textarea>
                        </div>      
                        <div class="form-group">
                            <label for="subcomments">תת-הערות</label>
                            <textarea name="subcomments" id="subcomments" class="form-control " rows="3"></textarea>
                        </div> 
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg"> הוסף בית</button>
                        </div>
                    </div>
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

    <% include templates/footer.ejs%>

  </body>
</html>
