<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
  </head>
  <body>

    <% include templates/header.ejs%>
    
    
   <!-- Page Content -->
    <style type="text/css">
        .top-bar{
            display:none;
        }
        .container{
            width:95%;
        }
    </style>
    <!--carousel-->
  
 <div class="container-fluid properties-container" >
        <div class="container container-pad" id="property-listings">
            <div class="row">
                <div class="col-sm-12 properties-header">
                        <span class="properties-subtitle">הצעות</span>
                        <br>
                        <h1 class="properties-title"> לוח נכסים</h1>
                </div>
                
                <div class="col-lg-4 col-md-6  "> 
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag sale"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> חשמונאים 0923<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    
                </div>
                <div class="col-lg-4 col-md-6  "> 
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag sale"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    
                </div>
                <div class="col-lg-4 col-md-6  "> 
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag sale"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="bgc-fff btm-mrg-20 property-listing">
                        <div class="property">
                            <div class="property-img">
                                <a class="pull-right pad-0 no-of" href="#" target="_parent">
                                <div class = "property-tag rent"></div>
                                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
                                </a>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="media-body fnt-smaller pad-10">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent"> אסתר המלכה 60<small class="pull-left">₪1,975,000</small></a></h4>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>5 חדרים</li>
                                    <li style="list-style: none">|</li>
                                    <li>נוף לים</li>
                                    <li style="list-style: none">|</li>
                                    <li>180 מ״ר</li>
                                </ul>
                                <p class="hidden-xs">
                                    כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.כאן יכנס תיאור של הבית הזה.
                                </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                    מקום לאותיות קטנות*
                                </span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                    
                    
                </div>
                
                </div><!-- End Col -->
       </div><!-- End row -->
 </div><!-- End container -->
    
    <% include templates/footer.ejs%>


  </body>
</html>
