<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
  </head>
  <body>

    <% include templates/header.ejs%>
    
        <div class="section-title about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>צרו קשר
              <span>
                <a href="index.html">בית </a>
                / צרו קשר
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 properties-header" style = "text-align:center;">
                <h1 class="properties-title">
                    חייגו עכשיו: 08-6370184
                </h1>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12 hr-styled">
                    <div class="diviser">
                        <div class="circle_right"></div>
                        <div class="circle_left"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 properties-header">
                <span class="properties-subtitle">מיקום</span><br>
                <h1 class="properties-title">היכן תמצאו אותנו?</h1>
            </div>
        </div>
    </div>
    
        <!--map -->
    <section id="contact-info">
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6941.27074203264!2d34.95457910716249!3d29.55611131062962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x150071f84343921f%3A0x1e18bf3e0e87ab60!2sRekhter+Shopping+Center!5e0!3m2!1sen!2s!4v1433477057589" width="600" height="450" frameborder="0" style="border:0"></iframe>                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-12" style ="direction:rtl;">
                                <address>
                                    <h5>המשרד</h5>
                                    <p>מרכז רכטר חנות מס' 11, אילת ישראל<br>
                                     מיקוד 88000, ת.ד. 2085</p>
                                    <p>טלפון #1:
                                    08-6370184<br>
                                    טלפון #2:
                                    08-6370183<br>
                                    פקס: 08-6370954<br>
                                    אימייל: nadlaneilat@gmail.com</p>
                                </address>
                            </li>
                            
                            <li class="col-sm-6">
                                <address>
                                    <h5>המשרד</h5>
                                    <p>מרכז רכטר<br>
                                    אילת, ישראל</p>
                                    <p>טלפון: 08-123-4567 <br>
                                    אימייל: nadlaneilat@gmail.com</p>
                                </address>

                                <address>
                                    <h5>דני הרוש</h5>
                                    <p> </p>                                
                                    <p>טלפון: 053-3339590<br>
                                    אימייל: dani943@gmail.com</p>
                                </address>
                            </li>


                            <li class="col-sm-6">
                                <address>
                                    <h5>אורלי מואס</h5>
                                    <p> </p>
                                    <p> מספר: 050-1234567 <br>
                                    אימייל: info@domain.com</p>
                                </address>

                                <address>
                                    <h5>שלומי כהן</h5>
                                    <p> </p>
                                    <p>טלפון:670-898-2847 <br>
                                     אימייל: info@domain.com</p>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--end map -->
    

    <% include templates/recSlideshow.ejs%>
    
    <% include templates/footer.ejs%>


  </body>
</html>
