<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
        <link href="stylesheets/main.css" rel="stylesheet">
  </head>
  <body>

  <% include templates/header.ejs%>

  <% include templates/adminMenu.ejs%>


                
<div class="container">

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.username) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>username</strong>: <%= user.username %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>
                <% } %>

            </div>
        </div>
    </div>
</div>
    <% include templates/footer.ejs%>


  </body>
</html>
