<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
    <link rel="stylesheet" type="text/css" href="stylesheets/projects.css">
  </head>
  <body>

    <% include templates/header.ejs%>
    
    <div class="section-title about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>פרוייקטים
              <span>
                <a href="index.html">בית </a>
                / פרוייקטים
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>

    	<!-- UI - X Starts -->
		<div class="ui-234">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="prop-images/0/1.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->	
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">אחוזת פיטר 1</a></h3>
									<h5>
									    הפרויקט הראשון של החברה שתוכנן ע"י סמי טיטו מבכירי האדריכלים בארץ.
                      בפרויקט 30 דירות מגוונות בגדלים שונים.
                      דירות 3 ,4, 5 חדרים, דופלקסים, פנטהאוזים ודירות גן.
                  </h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="prop-images/0/1.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">אחוזת פיטר 2</a></h3>
									<h5>פרויקט המשך בתכנון של האדריכל סמי טיטו.
                      בפרויקט 30 דירות מגוונות בגדלים שונים.
                      דירות 3 ,4, 5 חדרים, דופלקסים, פנטהאוזים ודירות גן.
                  </h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="images/projects/piter3.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">אחוזת פיטר 3 </a></h3>
									<h5>
									  בפרוייקט 39 יחידות דיור בנות 3, 4 ,5 ,חדרים ,פנטהאוזים ודירות גן.
                    הפרויקט ממוקם בשכונת השחמון ברובע 6 .
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="images/projects/piter4.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">אחוזת פיטר 4 </a></h3>
									<h5>
									  בפרוייקט 40 יחידות דיור בנות 3,4,5 חדרים, פנטהאוזים ודירות גן.
                    הפרויקט ממוקם בשכונת השחמון ברובע 6.
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="images/projects/adam.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">ארמונות אדם שלב 1 ו-2 </a></h3>
									<h5>
									  ארמונות אדם הינו פרוייקט הדגל של החברה .
                    נבנה בשני שלבים, 2 בניינים מפוארים בני 10 דירות כל אחד.
                    תוכנן ע"י האדריכל יואב איגרא (בעלים של מלון הרודס).

									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="prop-images/0/1.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">נווה נוף</a></h3>
									<h5>2 מתחמים כאשר בכל מתחם 3 בניינים נמוכים.
                    דירות מרווחות ומפנקות, חצרות ענקיים ונוף למפרץ.
                    בפרוייקט דירות 4, 5 חדרים, דירות גן ופנטהאוזים.
                  </h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="images/projects/platinum.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">נווה נוף פלטינום</a></h3>
									<h5>
									  13 וילות חלומיות ברמת גמור גבוהה ביותר.
                    לכל וילה בריכה פרטית ו-5.5 חדרים מפנקים המשקיפים לים האדום.
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="images/projects/gold.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">נווה נוף גולד</a></h3>
									<h5>
  									  22 דירות יוקרה בדגש על בנייה איכותית ורמת גימור גבוהה מאוד.
                      מהמרפסות המרווחות נשקף נוף מדהים לים האדום.
                      בפרויקט תמהיל דירות מגוון של 4,5 חדרים מרווחים, דירות גן ופנטהאוזים.
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="prop-images/0/1.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">פנינת הים</a></h3>
									<h5>
									  מתחם דירות ברובע 9 בשחמון, דירות מפנקות בגדלים שונים עם מרפסות המשקיפות לים.
                    בפרויקט 30 יחידות דיור בנות 3,4,5 חדרים, פנטהאוזים ודירות גן.
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="prop-images/0/1.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">פנינת השחמון</a></h3>
									<h5>
									  מתחם מפנק בסגנון ספרדי הכולל בתוכו 20 קוטג'ים מרווחים ובריכה משותפת.
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-mob">
						<!-- Item -->
						<div class="ui-item">
							<!-- Flip -->
							<div class="ui-flip">
								<!-- Image -->
								<img src="images/projects/romeo.jpg" alt="" class="img-responsive"/>
								<!-- Hover -->
								<div class="ui-hover">
									<!-- Heading -->
									<h3><a href="#" class="bg-orange">רומיאו</a></h3>
									<h5>
									  פרויקט הדגל של מרואן נופי.
									  מציע דירות מרווחות במיוחד, נוף מרהיב לים, סטנדרט בניה גבוה ומוקפד.
									  בניינים מעוצבים ברמה הגבוה ביותר.
									  לבחירתכם דירות 3,4 ו- 5 חד׳, דירות גן ופנטהאוזים.
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- UI - X Ends -->
        

    <% include templates/footer.ejs%>


  </body>
</html>
