     <div class="container">
       <div class="row" style="text-align:center; margin-top:60px;">
        <% if (is_desktop) { %>
          <div class="row hidden-sm" style="text-align:center;">
            <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=58364_90224_3'></script>
          </div>
        <% } else { %>
          <div class="row" style="text-align:center; hidden-md hidden-lg hidden-xl">
            <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=58364_90224_4'></script>
          </div>
        <% } %>
       </div>
     </div>
     
