     <div class="container">
       <div class="row" style="text-align:center; margin-top:60px;">
        <% if (is_desktop) { %>
          <div class="row hidden-sm" style="text-align:center;">
                    <ins class="bookingaff" data-aid="861033" data-target_aid="861020" data-prod="banner" data-width="728" data-height="90" data-banner_id="9620" data-lang="he" data-currency="ILS">
                        <!-- Anything inside will go away once widget is loaded. -->
                        <a href="//www.booking.com?aid=861020">Booking.com</a>
                    </ins>
                    <script type="text/javascript">
                        (function(d, sc, u) {
                          var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                          s.type = 'text/javascript';
                          s.async = true;
                          s.src = u + '?v=' + (+new Date());
                          p.parentNode.insertBefore(s,p);
                          })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
                    </script>
            </div>
        <% } else { %>
          <div class="row" style="text-align:center; hidden-md hidden-lg hidden-xl">
                                <ins class="bookingaff" data-aid="861033" data-target_aid="861020" data-prod="banner" data-width="250" data-height="250" data-banner_id="8885">
                                    <!-- Anything inside will go away once widget is loaded. -->
                                    <a href="//www.booking.com?aid=861020">Booking.com</a>
                                </ins>
                                <script type="text/javascript">
                                    (function(d, sc, u) {
                                      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                                      s.type = 'text/javascript';
                                      s.async = true;
                                      s.src = u + '?v=' + (+new Date());
                                      p.parentNode.insertBefore(s,p);
                                      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
                                </script>
          </div>
        <% } %>
       </div>
     </div>
     
