 <footer id="footer" class="midnight-blue">
        <div class="footer-head">
            <h2>תיווך &bull; מכירה  &bull; השכרה  &bull; שיווק  &bull; פרוייקטים</h2><br>
            <h3>מרכז רכטר, אילת ת.ד. 2085  &nbsp;&nbsp;&nbsp; &bull; &nbsp;&nbsp;&nbsp; <b>טל:</b> 08-6370184/3 &nbsp;&nbsp;&nbsp; &bull; &nbsp;&nbsp;&nbsp; <b>פקס:</b> 08-6370954</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style = "direction:rtl;">
                 נוצר על ידי אייל הרוש,  &copy; 2015
                </div>
                <div class="col-sm-6 left-on-big">
                    <ul>
                        <li><a href="/">דף הבית</a></li>
                        <li><a href="/about">אודות</a></li>
                        <li><a href="/board">נכסים</a></li>
                        <li><a href="/contact">צרו קשר</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->