<header id="header" class = "navbar-fixed-top">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-8">
                            <div class="top-number"><p><i class="fa fa-phone-square"></i> דני הרוש - 053-333-9590</p></div>
                            <div class="top-number"><p><i class="fa fa-phone-square"></i> אורלי מואס - 052-326-6602</p></div>
                    </div>
                        <div class="col-sm-6 col-xs-4">
                        <div class="social pull-left">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="/contact#contact-tag"><i class="fa  fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!--/.container-->
        </div> <!--/.top-bar-->
        
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-right" href="/"><img src="images/logo1.png" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-left" style = "direction:rtl; text-align:right;">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">דף הבית</a></li>
                        <li><a href="/about">אודות המשרד</a></li> 
                       
                        <% if(false) { %>
                        <li class="dropdown" style = "direction:rtl">
                            <a href="properties.html" class="dropdown-toggle" data-toggle="dropdown">נכסים <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">3 חדרים</a></li>
                                <li><a href="#">4 חדרים</a></li>
                                <li><a href="#">5 חדרים</a></li>
                                <li><a href="#">קוטז׳ים</a></li>
                            </ul>
                        </li>  
                        <% } %>
                        <li><a href="/contact">צרו קשר</a></li> 
                        <li><a href="/board">לוח נכסים</a></li>
                    </ul>
                </div>

                
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->